.dashboard {
    display: flex;
    flex-direction: row;
}

.provider-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 2px orange solid; */
    width: 100%;
}

.general-jobs {
    margin-top: 5%;
    float: left;
    /* border: 2px red solid; */
    width: 75%;
}

.general-jobs span {
    float: left;
}

.general-jobs-list {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 250px;

    max-width: 800px;
}

.new-job-dialog-button {
    float: left;
}

.general-job {
    margin-left: 25px;
    margin-top: 25px;

    border: 1px solid black;
    border-radius: 5px;

    min-width: 200px;
    height: 200px;

    background-color: #c4c4c4;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    flex-basis: 200px;
}

.general-job div {
    text-align: left;
    margin-left: 5px;
    /* border: 2px red solid; */
}

.general-jobs-list-real {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    overflow-x: auto;
    
}
