.menu-show {
    display: inline-block;
}

.menu-hide {
    display: none;
}

.slide-menu-container {
    border: 2px solid black;
    float: left;
    display: flex;
    flex-direction: row-reverse;
}

.slide-menu {
    height: 200px;
    width: 50px;
}

.icon-container {
    height: 50px;
    width: 50px;
}